  <!-- Login.html -->
{% extends "base.html" %}

 {% block content %}
  <!--====== TIPS BEFORE TRAVEL ==========-->
        <section>
        <div class="form form-spac">
            <div class="rows container">
                <div class="nf">Its Test</div>
                <div class="nf1">Hello Utsav, Bhuwan , Amrit and Ashish</div>
                <div class="links">
                    <h4>Top Website Pages</h4>
                    <ul>
                        <li><a href="#">Home</a> </li>
                        <li><a href="#">Tour Packages</a> </li>
                        <li><a href="#">Best Places</a> </li>
                        <li><a href="#">World Events List</a> </li>
                        <li><a href="#">Discount Packages</a> </li>
                        <li><a href="#">About US</a> </li>
                        <li><a href="#">Contact Us</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


 